.sidebar {
  display: grid;
  gap: 24px;
  place-items: start start;

  width: 220px;
  min-height: 100vh;
  padding: 72px 0 36px 60px;
  border-right: 1px solid var(--Dark-300);

  background-color: var(--Dark-700);

  & > :nth-child(5) {
    margin-bottom: 36px;
  }

  & > :nth-child(7) {
    margin-bottom: 156px;
  }
}
