.pagination {
  display: flex;
  column-gap: 12px;
  align-items: baseline;
  justify-content: center;

  font-size: var(--font-size-s);

  .rowsPerPage {
    .select {
      margin-right: 8px;
      margin-left: 4px;
      border-color: var(--Dark-300);
      border-radius: 2px;

      color: var(--Light-100);

      background-color: var(--Dark-500);

      .option {
        border: none;
        border-radius: 1px;
        color: var(--Light-100);
        background-color: var(--Dark-500);

        &:hover {
          background-color: var(--Dark-100);
        }
      }
    }
  }

  .button {
    cursor: pointer;

    width: 24px;
    height: 24px;
    border: none;

    font-size: var(--font-size-s);

    background: transparent;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .pageButton {
    cursor: pointer;

    padding: 0 2px;
    border: none;
    border-radius: 2px;

    font-size: var(--font-size-s);
    color: var(--Light-100);

    background: transparent;

    &.active {
      color: var(--Dark-900);
      background: var(--Light-100);
    }
  }

  .ellipsis {
    user-select: none;
    color: var(--Light-100);
  }
}
