*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  all: unset;
}

input,
button,
select,
textarea,
optgroup,
option,
a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  min-height: 100vh;

  font-family: var(--font-family-inter), sans-serif;
  line-height: var(--line-height-m);
  color: var(--Light-100);

  background-color: var(--Dark-900);
}
