:root {
  /* globals */
  --font-family: system-ui, sans-serif;

  /* font-sizes */
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 22px;

  /* line-heights */
  --line-height-m: 24px;
  --line-height-xl: 36px;

  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* colors */
  --color-light-100: #fff;
  --color-light-900: #8d9094;
  --color-dark-100: #4c4c4c;
  --color-dark-500: #171717;
  --color-danger-500: #cc1439;
  --color-primary-700: #2f68cc;
}
