@mixin common-animation-control($scale, $color: transparent) {
  transform: translate(-50%, -50%) scale($scale);
  background-color: var($color);
}

@mixin common-animation-interactive(
  $active-color,
  $hover-color: var(--Dark-300),
  $circle-size: 36px
) {
  &::before,
  &::after {
    @include common-animation-control(0);

    content: '';

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    display: block;

    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;

    transition: 0.3s;
  }

  &:hover::before {
    @include common-animation-control(1, $hover-color);
  }

  &:active::after {
    @include common-animation-control(1, $active-color);

    transition: 0s;
  }

  &:focus-visible::before {
    @include common-animation-control(1, var(--Dark-500));
  }



  &:disabled::before,
  &:disabled::after {
    @include common-animation-control(0);
  }
}