.header-container {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--Dark-300);
  background-color: var(--Dark-900);

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 60px;

    .functional-container {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: space-between;

      .select {
        width: 160px;
        margin-right: 12px;

        .select-value {
          display: flex;
          gap: 12px;
          align-items: center;
        }
      }
    }
  }
}
