.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 60px;
  border-bottom: 1px solid var(--Dark-300);

  background-color: var(--Dark-900);

  .functional-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;

    .select {
      display: flex;
      gap: 45px;
      align-items: center;

      width: 163px;
      margin-right: 12px;

      .bell {
        cursor: pointer;

        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        .count {
          position: absolute;
          top: 0;
          left: 11px;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 13px;
          height: 13px;
          padding: 3px;
          border-radius: 50%;

          font-size: 10px;
          font-weight: 500;
          line-height: 8px;

          background: var(--Danger-500);
        }
      }

      .select-value {
        display: flex;
        gap: 12px;
        align-items: center;
      }
    }
  }
}
