.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 60px;
  border-bottom: 1px solid var(--Dark-300);

  background-color: var(--Dark-900);

  .functional-container {
    display: flex;
    align-items: center;

    .notification-bell {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 45px;
    }

    .select {
      display: flex;
      align-items: center;
      width: 163px;

      .select-value {
        display: flex;
        gap: 12px;
        align-items: center;
      }
    }
  }
}
