.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: var(--font-size-s);
  line-height: 24px;
  color: var(--Light-900);

  &.disabled {
    color: var(--Dark-100);
  }
}

.textarea {
  resize: none;

  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: 2px;

  font-size: var(--font-size-m);
  line-height: 24px;
  color: var(--Light-900);

  background-color: var(--Dark-500);
  outline: 1px solid var(--Dark-100);

  transition:
    color 0.3s,
    outline-color 0.3s;

  &:disabled {
    color: var(--Dark-100);
    outline-color: var(--Dark-100);
  }

  &:focus-visible,
  &.error {
    outline: none;
  }

  &:focus-visible:not(.error) {
    color: var(--Light-100);
    outline: 2px solid var(--Primary-700);
  }

  &:active:not(:disabled, .error) {
    color: var(--Light-100);
    outline: 1px solid var(--Light-100);
  }

  &:hover:not(:disabled, :focus-visible, .error) {
    outline: 1px solid var(--Light-900);
  }

  &.error {
    color: var(--Light-100);
    outline: 1px solid var(--Danger-500);

    &:focus-visible {
      outline: 1px solid var(--Danger-500);
    }

    &:hover {
      outline: 1px solid var(--Danger-500);
    }

    &:active:not(:disabled) {
      outline: 1px solid var(--Danger-500);
    }
  }
}

.errorSpan {
  font-size: var(--font-size-s);
  line-height: 24px;
  color: var(--Danger-500);
}
