@use '@/styles/mixins' as *;

.label {
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  padding: 9px 0;

  &.disabled {
    cursor: initial;
    color: var(--Light-900);
  }

  .checkbox {
    @include common-animation-interactive($active-color: --Dark-100);
    
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;

    .frame {
      position: absolute;
      z-index: 5;
      inset: 0;

      box-sizing: border-box;
      border: 2px solid var(--Light-100);
      border-radius: 2px;
    }

    .indicator {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
    }

    &:disabled {
      cursor: auto;

      &::before,
      &::after {
        @include common-animation-control(0);
      }

      svg {
        fill: var(--Dark-100);
      }

      .frame {
        border-color: var(--Dark-100);
      }

      .indicator {
        fill: var(--Light-700);
      }
    }
  }
}

.check-disabled {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--Light-700);
}