.buttonsBox {
  display: flex;
  justify-content: flex-end;

  &.hasCancelButton {
    gap: 24px;
  }

  &.reverseButtonsPosition {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  &.mobile {
    flex-direction: column-reverse;
    gap: 12px;
  }
}
